<?xml version="1.0" encoding="UTF-8"?>

<web-app>

	<error-page>
		<error-code>500</error-code>
		<location>/LoginUser.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/index.jsp</location>
	</error-page>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>